@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --heroui-background: #000000;
  --background: #000000;
  --foreground: #ffffff;
  --danger: #FE9900;
  --primary: "#000000";
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: "#000000";
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Manrope;
}