@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  input:-webkit-autofill {
    transition-delay: 0s, 0s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-duration: 99999s, 99999s;
    transition-property: color, background-color;
    -webkit-text-fill-color: rgb(234, 236, 239);
    /* Цвет текста для автозаполнения */
  }
}

:root {
  --heroui-background: #000000;
  --background: #000000;
  --foreground: #ffffff;
  --danger: #f31260;
  --secondary: #FE9900;
  --primary: "#000000";
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: "#000000";
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Manrope;
}